/* ==== GENERAL ==== */

body {
	margin-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background: url('img/tile.jpg') top left repeat;
}

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
	margin: 0 0 20px;
  text-shadow: 0 .1rem .1rem rgba(0,0,0,.5);
}

h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

a:link, a:visited {
	color: #dd5638;
}

a:hover {
	text-decoration: none;
	color: #c9302c;
}

img {
	max-width: 100%;
}

button, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: bold;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background: #79b044;
	border: none;
}

.btn-success:hover {
	background: #6a9b3d;
	border-color: #6a9b3d;
}

.btn-danger {
	background-color: #dd5638;
	border-color: #d95131;
}

.text-danger, li.text-danger a {
	color: #dd5638;
}

a.text-danger:hover {
	color: #e55939;
}

/* ==== HERO ==== */

#hero {
	background: url('img/cover.jpg') 50% 0 repeat fixed;
	background-size: cover;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#hero .hero-text {
	margin-top: 9rem;
	margin-bottom: 9rem;

}

@media
(min-width: 768px) {
	#hero .hero-text {
	    margin-top: 30px;
	    margin-bottom: 0;
	}
}

#price-timeline {
	margin: 30px 0 60px;
	text-align: center;
}

#price-timeline .price {
	display: inline-block;
	width: 30%;
	margin: 0 2% 0 0;
	background: #3e4249;
	padding: 10px 20px 30px;
	position: relative;
	vertical-align: top;
}

#price-timeline .price.active {
	background: #dd5638;
}

#price-timeline .price span {
	background: #101010;
	display: block;
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size: 24px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left: -35px;
}

#price-timeline h4 {
	margin: 0 0 10px;
}

#price-timeline h4 small {
	color: white;
	font-weight: bold;
	display: block;
}


/* ==== LAYOUT ==== */

.row + .row {
	margin-top: 20px;
}

section {
	padding: 80px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

section h3 {
	margin: 30px 0 10px;
}

#signup {
	text-align: center;
	background: url('img/gym.jpg') center center repeat fixed;
	background-size: cover;
	color: white;
	padding: 100px 0;
}

#signup h2 {
	font-weight: normal;
}

#signup h2 strong {
	border-bottom: solid 2px #dd5638;
}

#signup .btn {
	font-size: 24px;
}

footer {
	background: #3e4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #dd5638;
}

footer li.signup-link a {
	color: #dd5638;
}

footer li.signup-link a:hover {
	font-weight: bold;
