/* GLOBAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background: #eeeeee;
  overflow-x: hidden;
  padding-bottom: 20px;
  font-size: 12px;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
  background: #97d5e0;
  color: #ffffff;
	display: table;
  width: 100%;
	min-height: 300px;
}

.header article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.header .title {
  font-size: 55px;
}

@media screen and ( min-width : 577px ) {
  .header .title {
    font-size: 70px;
  }
}

.header .author {
  font-size: 28px;
}

.header .contact {
  font-size: 20px;
}

.header .contact span {
  margin: 10px 5px;
  font-size: 36px;
  color: #cccccc;
}

.header .contact a {
	text-decoration: none;
}

.header .contact span.entypo-github-circled {
	color: #4078c0;
}

.header .contact span.entypo-linkedin-circled {
	color: #1a86bb;
}

.header .contact span.entypo-facebook-circled {
	color: #1f88bd;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  margin: 20px 28px;
  padding: 30px 0;
  position: relative;
}

/* Vertical Line */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 6px;
  background: #d2d2d2;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 30px;
}

.timeline ul li .date {
  content: '';
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  margin-left: -18px;
  line-height: 36px;
  border-radius: 50%;
  background: #2196f3;
  color: #ffffff;
  text-align: center;
}

.timeline ul li .entry {
  position: relative;
  bottom: 0;
  width: 400px;
  background: #ffffff;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.timeline ul li .entry::before {
  content: '';
  position: absolute;
  width: 0;
  border-style: solid;
}

.timeline ul li .entry {
  width: calc(100vw - 78px);
  left: 40px;
}

.timeline ul li .entry::before {
  top: 12px;
  left: -15px;
  border-width: 6px 12px 6px 0;
  border-color: transparent #ffffff transparent transparent;
}

.timeline ul li .entry img {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: auto;
}

.timeline ul li .entry .entry-block {
  padding: 20px;
}

.timeline ul li .entry .entry-block .entry-title{
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
}

.timeline ul li .entry .entry-block {
  padding: 20px;
}

.timeline ul li .entry .entry-block .entry-title{
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
}

.timeline ul li .date {
  visibility: hidden;
}

.timeline ul li.in-view .date {
  visibility: visible;
  -webkit-animation: bounceIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation: bounceIn;
  -moz-animation-duration: 0.5s;
  animation: bounceIn;
  animation-duration: 0.5s;
}

.timeline ul li .entry {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(10px,0,0);
  transition: all .5s ease-in-out;
}

.timeline ul li.in-view .entry {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .timeline ul li .entry {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    margin: 20px 160px;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 14px;
  }

  .timeline::before {
    left: 50%;
  }

  .timeline ul li {
    width: 6px;
    margin: 0 auto -50px auto;
  }

  .timeline ul li:last-child  {
    width: 6px;
    margin: 0 auto 30px auto;
  }

  .timeline ul li .date {
    width: 48px;
    height: 48px;
    margin-left: -21px;
    line-height: 48px;
  }

  .timeline ul li:nth-child(odd) .entry {
    left: 60px;
  }

  .timeline ul li:nth-child(odd) .entry::before {
    left: -22px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  .timeline ul li:nth-child(even) .entry {
    left: -454px;
  }

  .timeline ul li:nth-child(even) .entry::before {
    left: 406px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #ffffff;
  }

  .timeline ul li:nth-child(odd) .entry {
    transform: translate3d(50px,0,0);
  }

  .timeline ul li:nth-child(even) .entry {
    transform: translate3d(-50px,0,0);
  }

  .timeline ul li.in-view .entry {
    transform: none;
  }
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
