* {
  box-sizing: border-box;
}

.row {
  margin-bottom: 0px;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 2px 1px -2px rgba(0,0,0,0.2);
}

body,
#home,
#speech,
#progress,
#profile {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 112px);
}

.brand-logo {
  font-weight: 300;
}

.brand-logo strong {
  font-weight: 700;
}

#sidenav-overlay {
  z-index: 1;
}

main {
  flex: 1;
}

.chart {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 90px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
@media only screen and (min-width: 500px) {
  .chart {
    width: 120px;
    height: 120px;
  }
  .percent {
    line-height: 120px;
  }
}

#reading a {
  color: #ffab40;
  text-decoration: none;
}

audio {
  width:100%;
}

.recorder {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  z-index: 100;
  padding-top: 22px;
}

.recorder a {
  z-index: 100;
}

.recorder #flatline {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 51px;
  border-top: 2px solid black;
  z-index: 50;
}

#visualizer {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
}
